@model  PassionProject.Models.TeacherDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Teacher?</h2>
<a href="/Teacher/List">Cancel</a>
<h3>Name: @Model.teacher_fname @Model.teacher_lname</h3>
<form action="/Student/Delete/@Model.teacherId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>