@model IEnumerable<PassionProject.Models.TeacherDto>
@{
    ViewBag.Title = "New";
}

<h2>Create Teacher</h2>

<form action="/Teacher/Create" method="POST">
    
    <div>
        <label>First Name:</label><input type="text" name="teacher_fname" />
    </div>
    <div>
        <label>Last Name: </label><input type="text" name="teacher_lname" />
    </div>
    <div>
        <input type="submit" value="Create Teacher" />
    </div>
</form>